:root {
  --page-color: rgb(220,180,190);
  --ui-face-color: hsl(42, 60%, 80%); /* pale yellow*/
  --ui-edge-color: rgb(0,0,0);
  --plot-edge-color: rgb(0,12,80);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--page-color);

}

canvas {
  /* center canvas in the window */
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
